In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url = 'https://www.theedadvocate.org/an-a-z-list-of-u-s-colleges-and-universities/'

In [3]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [4]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name,[]))

1 School Name
2 URL
3 State

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [7]:
df.head()

                           School Name                  URL State
0                 University of Alaska    http://alaska.edu    AK
1             Alaska Christian College  http://alaskacc.edu    AK
2      National Park Community College      http://npcc.edu    AK
3       University of Alaska Fairbanks       http://uaf.edu    AK
4  University of Arkansas – Fort Smith      http://uafs.edu    AK

In [10]:
df["State"].replace({ 'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}, inplace=True)

In [11]:
df

,School Name,URL,State
0,University of Alaska,http://alaska.edu,Alaska
1,Alaska Christian College,http://alaskacc.edu,Alaska
2,National Park Community College,http://npcc.edu,Alaska
3,University of Alaska Fairbanks,http://uaf.edu,Alaska
4,University of Arkansas – Fort Smith,http://uafs.edu,Alaska
...,...,...,...
1924,Central Wyoming College,http://cwc.edu,Wyoming
1925,National Outdoor Leadership School,http://nols.edu,Wyoming
1926,Northwest College,http://northwestcollege.edu,Wyoming
1927,Northern Wyoming Community College District,http://sheridan.edu,Wyoming
1928,University of Wyoming,http://uwyo.edu,Wyoming

In [13]:
#Save to CSV
df.to_csv(r'Universities_and_States.csv')